# Knative "staging" Site Params (adds to (or can override) Site "config/_default")
# Use for development, like inflight PR reviews and content testing.

# Usage notes:
# To build with these settings, you use must specify the Hugo environment to
# "staging" (hugo -e staging). Or configure the environment in Netlify.
# The build uses every setting defined in "config/_default" and then merges or
# overrides all the settings defined here.

# Default docs params for "staging" environment

# Section labels for versions
doclabel = "Pull Request Preview: "
releaselabel = "Pull Request Preview: "

# Set PRs to build to the "docs" path
# RELEASE-ITEM: 'version' gets updated each release
[[versions]]
  version = "v0.20"
  ghbranchname = "master"
  url = "/docs/"
  dirpath = "docs"

