{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4">
    <div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
    <div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    </div>
    <div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <h1 class="row">Become a member</h1>
    </div>
</section>

<section class="row td-box td-box--1">
		<div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
		<div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
		</div>
		<div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <div class="row">
        <div class="col">
        <h3>Learn and Connect</h3>
        <p>Using or want to use {{ .Site.Title }}? Find out more here:
            {{ with index $links "user"}}
            {{ template "community-links-list-light"  . }}
            {{ end }}
        </div>
      </div>
    </div>
</section>

<section class="row td-box td-box--4">
    <div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
    <div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    </div>
    <div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <h1 class="row">Contribute</h1>
    </div>
</section>

<section class="row td-box td-box--1">
    <div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
    <div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    </div>
    <div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <div class="row">
        <div class="col">
        <h3>Develop and contribute</h3>
        <p>If you want to get more involved by contributing to {{ .Site.Title }}, see the
          <a class="link-on-dark" href="/community/contributing/">
            Contribution guidelines</a> for details.
        <p>You can also join us here:
            {{ with index $links "developer"}}
            {{ template "community-links-list-light"  . }}
            {{ end }}
        </div>
      </div>
    </div>
</section>

<section class="row td-box td-box--4">
    <div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
    <div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    </div>
    <div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <h1 class="row">Share code samples</h1>
    </div>
</section>

<section class="row td-box td-box--1">
    <div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
    <div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    </div>
    <div class="col-md-9 col-lg-10 order-xs-2 order-sm-2 order-md-2">
      <div class="row">
        <div class="col">
            <h3>Use and run</h3>
            <p>Learn about Knative and get started with a code sample:
            {{ with index $links "usecode"}}
            {{ template "community-links-list-light"  . }}
            {{ end }}
        </div>
        <div class="col">
            <h3>Share your expertise</h3>
              <p>Do you have a Knative code sample that demonstrates a use-case or product
              integration that will help someone learn about Knative?</p>
              <p>Contribute to the community:</p>
              {{ with index $links "sharecode"}}
              {{ template "community-links-list-light"  . }}
              {{ end }}
          </div>
        </div>
    </div>
</section>

{{ define "community-links-list-dark" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a class="link-on-dark" {{ if eq .external "true" }}target="_blank" {{ end }} href="{{ .url }}">
     <i class="{{ .icon }} text-white"></i> {{ .name }}:</a>
     <br>
     <span class="text-white">{{ .desc }}</span>
 </li>
  {{ end }}
</ul>
{{ end }}

{{ define "community-links-list-light" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a {{ if eq .external "true" }}target="_blank" {{ end }}href="{{ .url }}">
     <i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
