{{/* Show only on production site (not local builds since we can't determine version) */}}
{{ if not .Site.IsServer }}
{{ $prerelease := .Site.Params.prereleasefolder }}
{{ if .Path }}
  {{/* Set default values */}}
  {{ $pageSection := .Page.Section }}
  {{ $.Scratch.Set "filepath" .Path }}
  {{ $.Scratch.Set "gh_branch" ($.Param "latest_github_branch") }}
  {{ $.Scratch.Set "gh_repo" ($.Param "github_docsrepo") }}

  {{/* Set the right filepaths to match whats in the repo */}}
  {{/* Replace all 'v.#.#-docs' to just 'docs' */}}
  {{ if in $pageSection "docs" }}
    {{ $.Scratch.Set "filepath" (replaceRE "v[0-9]+.[0-9]+-docs" "docs" (printf "%s" ($.Scratch.Get "filepath"))) }}
  {{ end }}
  {{/* Replace all "pre-release" (development) paths to 'docs' */}}
  {{ if eq $pageSection $prerelease }}
   {{ $.Scratch.Set "filepath" (replaceRE (printf "%s" $prerelease) "docs" (printf "%s" ($.Scratch.Get "filepath"))) }}
  {{ end }}
  {{/* Remove "community/contributing" from the knative/community paths */}}
  {{ if in $pageSection "community" }}
    {{ $.Scratch.Set "filepath" (replaceRE "community\\/" "" (printf "%s" ($.Scratch.Get "filepath"))) }}
    {{ $.Scratch.Set "filepath" (replaceRE "contributing\\/" "" (printf "%s" ($.Scratch.Get "filepath"))) }}
  {{ end }}

  {{/* Open to the README.md in github repo */}}
  {{ if in (printf "%s" .File) "index.md" }}
    {{ $.Scratch.Set "filepath" (replaceRE "_index" "README" ($.Scratch.Get "filepath")) }}
    {{ $.Scratch.Set "filepath" (replaceRE "index" "README" ($.Scratch.Get "filepath")) }}
  {{ end }}

  {{/* Find the github branch for the corresponding docs version otherwise set to master */}}
  {{ if in $pageSection "docs" }}
    {{ range .Site.Params.versions }}
      {{ if eq $pageSection .dirpath }}
        {{ $.Scratch.Set "gh_branch" .ghbranchname }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Set "gh_branch" "master" }}
  {{ end }}

  {{ if ($.Scratch.Get "gh_repo") }}
  <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
    {{/* Show different links for each website section */}}
    {{ if ne $pageSection "blog" }}

    {{/* DOCS or COMMUNITY section */}}
    {{/* Default to knative/docs repo OR use knative/community repo for CONTRIB info */}}
    {{ if eq $pageSection "community" }}
      {{ $.Scratch.Set "gh_repo" ($.Param "github_communityrepo") }}
    {{ end }}

    {{ $editURL := printf "%s/tree/%s/%s" ($.Scratch.Get "gh_repo") ($.Scratch.Get "gh_branch") ($.Scratch.Get "filepath") }}
    <a href="{{ $editURL }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>

    {{ $issuesURL := printf "%s/issues/new?title=%s(%s)&labels=kind%2Fbug&template=bug-in-existing-docs.md" ($.Scratch.Get "gh_repo") (htmlEscape $.Title) (htmlEscape $.Path) }}
    <a href="{{ $issuesURL }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-fw"></i> {{ T "post_create_issue" }}</a>

    {{/* Determine the Knative component */}}
    {{ if or (eq $pageSection "docs") (eq $pageSection .Site.Params.prereleasefolder) }}
      {{ if in (printf "%s" ($.Scratch.Get "filepath")) "/serving/" }}
        {{ $.Scratch.Set "gh_repo" (printf "%s/issues/new" ($.Param "github_servingrepo")) }}
      {{ end }}
      {{ if in (printf "%s" ($.Scratch.Get "filepath")) "/eventing" }}
        {{ $.Scratch.Set "gh_repo" (printf "%s/issues/new" ($.Param "github_eventingrepo")) }}
      {{ end }}

      {{ if ne (printf "%s" ($.Scratch.Get "gh_repo")) ($.Param "github_docsrepo") }}
      <a href="{{ $.Scratch.Get "gh_repo" }}" target="_blank"><i class="fab fa-github fa-fw"></i> {{ T "post_create_project_issue" }}</a>
      {{ end }}
    {{ end }}

    {{/* BLOG section - Show Post link */}}
    {{ else if (eq $pageSection "blog")}}
    {{ if eq .File.Dir "blog/" }}
    {{ $.Scratch.Set "blogsec" "Knative " }}
    {{ else }}
    {{ $getfolder := (replace (printf "%s" .File.Dir) "blog/" "" ) }}
    {{ $getfolder := (replace (printf "%s" $getfolder) "/" " " ) }}
    {{ $.Scratch.Set "blogsec" $getfolder }}
    {{ end }}
    <a href="https://github.com/knative/docs/new/master/{{ .File.Dir }}" target="_blank"><i class="fab fa-github fa-fw"></i>Post to the {{ $.Scratch.Get "blogsec" }}blog</a>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
{{ end }}
