<div class="container" id="typeform">

    <section>

	{{ .Content }}

	{{ if isset .Site.Params "typeformid"}} 

	<div id="typeform-embed"></div>

	<!-- Change the width and height values to suit you best -->
	<div class="typeform-widget" data-url="https://{{ .Site.Params.typeformuser | default "x" }}.typeform.com/to/{{ .Site.Params.typeformid }}" style="width:{{ .Site.Params.typeformwidth | default "100%" }};height:{{ .Site.Params.typeformheight | default "500px" }};"></div>
	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

	{{ end }}

    </section>

</div>
