---
title: About Docker Community
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Docker Community" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Welcome to Docker Community
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
This site is the home of Docker Community. This repo aims to centralize content (HOW-TOs, scripts, slides, etc) curated by the Docker Team for the Docker Community. The main objective is to help members of the Docker community who share similar interests to learn from & collaborate with each other during events.
 {{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Get Involved today!</h1>
</div>

{{< /blocks/section >}}

{{% blocks/lead %}}
To begin with, start with [Contributor guidelines](https://docker-community-leaders.github.io/dockercommunity/docs/contribution-guidelines/) documentation. 
You can also check out Docker Community [Code of Conduct]()
{{% blocks/lead %}} 
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Join our Discord Channel</h1>
</div>
  
{{% blocks/lead %}} 
There are many ways you can stay involved with the Docker community.

- Join our Discord Channel
- Contribute by following our contributor guides
- Learn about our YouTube Channel
- Meet Captains
- Check our official Docker documentation
- Check out our Podcasts
- Meet our Community Leaders

{{% /blocks/lead %}}
{{< /blocks/section >}}
