{{/*

Use this `tab` shortcode to add a tab to the parent `tabs`.

Parameters:
* `name="foo"`: REQUIRED.  The text to appear in the tab heading, and used in conjunction with `tabs.default`.

*/}}
{{ if .Parent }}
	{{ $name := trim (.Get "name") " " }}
	{{ if not (.Parent.Scratch.Get "tabs") }}
	  {{ .Parent.Scratch.Set "tabs" slice }}
        {{ end }}
        {{ with .Inner }}
          {{/* Store the content of each tab in a dictionary for the parent to display. */}}
	  {{ $.Parent.Scratch.Add "tabs" (dict "name" $name "content" . ) }}
	{{ else }}
	  {{- errorf "[%s] %q: tab title does not exist" site.Language.Lang .Page.Path -}}
	{{ end }}
{{ else }}
	{{- errorf "[%s] %q: tab shortcode missing its parent" site.Language.Lang .Page.Path -}}
{{ end}}
