{{/*

Use this `tabs` shortcode to include a tabbed set of options.

Parameters:
* `name="foo"`: REQUIRED.  A unique identified for this collection of tabs.
* `default="bar"`: OPTIONAL, default to none.  The name of the tab to select by default, if none is specified the content pane will be hidden by default.

*/}}
{{ $tab_set_id := .Get "name" | default (printf "tabset-%s-%d" (.Page.RelPermalink) (.Page.Scratch.Get "tabset-counter") ) | anchorize }}
{{ $default := .Get "default" }}
{{ if .Inner }}{{/* complained if not used */}}{{ end }}
{{ $tabs := .Scratch.Get "tabs" }}
<ul class="nav nav-tabs" id="{{ $tab_set_id }}" role="tablist">
  {{ range $i, $e := $tabs }}
    {{ $id := printf "%s-%d" $tab_set_id $i }}
    {{ $active := "" }}
    {{ if eq $default $e.name }}
      {{ $active = "active" }}
    {{ end }}
    <li class="nav-item {{ $active }}">
      <a class="nav-link {{ $active }}" id="{{ $id }}-tab" data-toggle="tab" href="#{{ $id }}" role="tab" aria-controls="{{ $id }}" aria-selected="true">{{ trim .name " " }}</a>
    </li>
  {{ end }}
</ul>

<div class="tab-content" >
{{ range $i, $e := $tabs }}
  {{ $id := printf "%s-%d" $tab_set_id $i }}
  {{ $active := "" }}
  {{ if eq $default $e.name }}
    {{ $active = "show active" }}
  {{ end }}
  <div class="tab-pane fade {{ $active }}" id="{{ $id }}" role="tabpanel" aria-labelledby="{{ $id }}-tab">
    {{ with .content }}
      {{ . }}
    {{ end }}
  </div>
{{ end }}
</div>
